---
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Accueil">
  <h1>Accueil</h1>
  <p>
    Bienvenue sur le site de films
  </p>
  <p>gentil VPS qui fonctionne tout bien</p>
</Layout>

